@charset "UTF-8";

body, html {
    background-color: rgb(255, 255, 255);

    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

header {
    background-color: rgb(230, 25, 25);
    color: white;
    text-align: center;
    box-sizing: border-box;

    width: 100%;
    padding: 0;
    margin: 0;
}

nav {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    top: -22px;
    box-sizing: border-box;

    text-align: center;
    background-color: rgb(230, 25, 25);
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav > ul > li {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
}

li > a {
    background-color: rgb(230, 25, 25);
    color: white;
    text-decoration: none;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section > div#product1 {
    background-color: rgb(218, 218, 218);
}

section > div#product2 {
    background-color: rgb(218, 218, 218);
}