@charset "UTF-8";

p#faixaPromo {
    text-align: center;
    background-color: rgb(243, 232, 219);
    padding: 8px;
    margin: -8px;
    width: 100%;
}

p#faixaPromo > a {
    text-decoration: none;
    color: rgb(80, 79, 79);
}

header > section#secao1 {
    display: flex;              
    align-items: center;        
    justify-content: space-between; 
    padding: 10px 30px;
    margin-top: 20px;    
}

header > section#secao1 > h1 {
    margin: 0;                   
}

header > section#secao1 > nav {
    display: flex;               
    justify-content: center;     
    flex-grow: 1;              
}

header > section#secao1 > nav > ul {
    list-style-type: none;       
    padding: 0;                  
    margin: 0;                   
    display: flex;              
    gap: 20px;                   
}

header > section#secao1 > nav > ul > li {
    margin: 0;                   
}

header > section#secao1 > nav > ul > li > a {
    text-decoration: none;       
    color: rgb(80, 79, 79);      
    padding: 10px 15px;          
}